<a href="https://colab.research.google.com/github/JerkielleBalana/CPE-103-OOP-1-A/blob/main/PythonFundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [ ]:
x = 5
y = 2
if x > y:
  print ("Five is greater than two!")

Five is greater than two!

Python Comments

In [ ]:
#This is a comment
print("Hello, World!")

Hello, World!

Python Variable

In [ ]:
 z = 1
a, b=0,-1
c = "Sally"
print(a)
print(b)
print(z)
print(c)

0
-1
1
Sally

Casting

In [ ]:
b='sally' #This is a type if string
b=int(4)

b=float(4)
print(b)

4.0

Type() function

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

"Double quotes" or 'single' quotes

In [ ]:
y = "John"
y = 'John'
print(y)

John

Case sensitive

In [ ]:
a = 4
A = "Sally"
#A will not overwrite a

Multiple Variables

In [ ]:
x, y, z= "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variables

In [ ]:
x = y = z= "four"
print(x)
print(y)
print(z)

four
four
four

Output Variables

In [ ]:
x = "enjoying"
print ("Python programming is "+ x)

Python programming is enjoying

Arithmetic Operations

In [ ]:
#Exponentiation
x = 10
y= 3
print (x**2)
#Division
print (x/y)
#FloorDivision
print (x // y)
#Modulo
print (x%y)

100
3.3333333333333335
3
1

Assignment Operators

In [ ]:
x = 3
x*=3 # x - x*3
print (x)

9

Comparison Operators

In [ ]:
x = 5
y = 2
x>y

True

Logical Operators

In [ ]:
x = 5
y = 2
not(x>y)

False

Identity Operators

In [ ]:
a,b,c= 0, -1, 5
a is c

False

Bitwise Operators

In [ ]:
#decimal to binary
#10 = 1010
x = 10
print(x>>1)

5

Application 1

In [94]:
#Application 1
import math
#Rectangle
length = 56
width = 10
print(x*y)

#Triangle
length = 56
width = 10
print (x*y/2)

#Circle

radius =float(input("Enter the radius of the circle: "))
area = math.pi * radius **2
circumference = 2 * math.pi * radius

print(f"Area of the circle:{area}")
print(f"Circumference of the circle: {circumference}")

560
280.0
Enter the radius of the circle: 4
Area of the circle:50.26548245743669
Circumference of the circle: 25.132741228718345