<a href="https://colab.research.google.com/github/JerkielleBalana/CPE-103-OOP-1-A/blob/main/Variables_and_Data_Types_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Numbers

In [ ]:
varNumb = 123
pi = 3.14159

Strings

In [ ]:
varString = 'Hellow World!'
varText = ' This is a Strings'

Lists

In [ ]:
varList = ['abc', 123]

Tuples

In [ ]:
varTuples = ('abc', 123, 'HELLO')

Dictionaries

In [35]:
var = 3
varDict = {'first':1 , '2' : '2nd', 3:var}
varDict = {}
varDict= ['first']= 1
varDict ['2'] = '2nd'
varDict[3] = var

SyntaxError: cannot assign to literal (<ipython-input-35-0be8367db4a5>, line 4)

Arithmetic

Addition

In [12]:
 a = 5 + 3
 print (a)

8

Substraction

In [13]:
a = 5 - 3
print (a)

2

Multiplication

In [14]:
a = 5 * 3
print (a)

15

Exponent

In [15]:
a = 5 ** 3
print (a)

125

Division

In [7]:
a = 5 / 3
a = 5 % 3
a = 5 // 3
print (a)

1

Increment/ Decrement

In [ ]:
a = 5
a +=1
print (a)

Decrement

In [9]:
a = 5
a -=1
print (a)

4

String Concanetation

In [10]:
a = 'Hello' + 'World'
print (a)

HelloWorld

Complex Expressions

In [11]:
a = 3 + 5 - 6 * 2 / 4
print (a)

5.0

Boolean Conditions

In [4]:
x = True
if x :
  print ( "var x is True")
else:
    print ("var x is False")

var x is True

String Conditions

In [5]:
x = "Hello World!"
if x == 'Hello World!' :
 print("var x is Hello World!")
else:
  print("var x is not Hello World!")

var x is Hello World!

Numerical Conditions

In [6]:
x = 10
if x == '10':
 print("var x is a string")
elif x == 10:
  print("var x is an integer")
else:
  print("var x is none of the above")

var x is an integer

Loops

In [16]:
#For Loops
for var in range (0, 5,2):
  print (var)

0
2
4

In [17]:
#While Loops
var = 0
while var < 5:
  print (var)
  var += 2

0
2
4

In [21]:
#Nested Loops
x = 0
while x < 5:
  for y in range (0,x):
          print(y, end='')
        x+= 1
          print()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)

Functions

In [23]:
def remainder (n,m):
  while True :
    if n - m < 0:
      return n
    else:
        n = n - m
remainder(10,4)

2

List

In [43]:
pi = 3.14159
varList = [1,2,'A', 'B', 'Hello!', pi]
print(varList[0])
print(varList[4])
varList.append('World!')
print(varList[6])
len(varList)
print(varList[5])
varList.remove(pi)
print(varList[5])

1
Hello!
World!
3.14159
World!

List Generators and Comprehension

In [39]:
def gen_num_up_to(n):
  num = 0
  while num < n :
    yield num
    num += 1
varList = gen_num_up_to(5)
print([var for var in varList])
varList = range(0,5,2)
print([var for var in varList])

[0, 1, 2, 3, 4]
[0, 2, 4]

Slicing

In [42]:
varList = [1,2,3,4,5,6,7,8,9,10]
print(varList[:5])
print(varList[5:])
print(varList[:-2])
print(varList[-2:])
print(varList[2:-2])
print(varList[2:8:2])

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8]
[9, 10]
[3, 4, 5, 6, 7, 8]
[3, 5, 7]